.js-widget-dialog
  &-left
    z-index: 10001
    background: #fff
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1)
    height: 280px
    position: fixed
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    left: 48px
    bottom: 48px
    max-width: 280px
  &-right
    z-index: 10001
    height: 280px
    position: fixed
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    right: 48px
    bottom: 48px
  &-bottom
    z-index: 10001
    background: #fff
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1)
    height: 280px
    position: sticky
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    bottom: 48px
    width: 100%
  &-top
    z-index: 10001
    background: #fff
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1)
    height: 214px
    position: fixed
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    top: 0

.js-widget-iframe
  z-index: auto
  border: 0px
  height: 100%
  width: 100%
